<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Welcome</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
</div>

</nav>

  <div class="container-fluid mt-4">

  <table class="table table-bordered">

  		  <tbody>
  			 <tr >
           <!-- <td>Name:{{employees.id}}</td>
           <td>Name:{{employees.username}}</td> -->
  				<!-- <td>{{emp.username}}</td>
          <td>{{emp.email}}</td>
  				<td>{{emp.title}}</td>
  				<td>{{emp.department}}</td>
  				<td>{{emp.salary}}</td> -->

  			<td width="200">
  					<a class="btn btn-dark btn-outline-light"  routerLink="/editemp/{{employees.id}}"> Edit</a>

  				</td>
  			 </tr>

  		  </tbody>
  		</table>

    </div>
