 <div class="container-fluid">

<div class="panel panel-default">
  <div class="panel-heading">Employee Entry Form</div>
  <div class="panel-body">
    <form [formGroup]="editEmp" (ngSubmit)="updateEmployee()" ><br><br>
      <!-- (submit)="updateEmployee()" -->
 <div class="form-group">
    <label for="emp_name" class="col-sm-2 control-label">Employee's Full Name : </label>
    <div class="col-sm-9">
      <input type="text" class="form-control" name="username"  formControlName="username">
      <!-- [(ngModel)]="model.username"-->
   </div>
  </div>
  <div class="form-group">
    <label for="emp_email" class="col-sm-2 control-label">Email : </label>
    <div class="col-sm-9">
      <input type="email" class="form-control" name="email"  formControlName="email" email="true">
      <!-- [(ngModel)]="model.email" -->
    </div>
  </div>
  <div class="form-group">
    <label for="position" class="col-sm-2 control-label">Job Title : </label>
    <div class="col-sm-9">
      <input type="text" class="form-control" name="title" formControlName="title">
      <!-- [(ngModel)]="model.title" -->
    </div>
  </div>
  <div class="form-group">
    <label for="department" class="col-sm-2 control-label">Department Name : </label>
    <div class="col-sm-9">
      <input type="text" class="form-control" name="department"  formControlName="department">
      <!-- [(ngModel)]="model.department" -->
  </div>
  </div>
  <div class="form-group">
    <label for="salary" class="col-sm-2 control-label">Employee's Salary : </label>
    <div class="col-sm-9">
      <input type="text" class="form-control" name="salary" formControlName="salary">
      <!-- [(ngModel)]="model.salary" -->
  </div>
  </div><br><br>


  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <button type="submit" class="btn btn-success">Update</button>
      <a  class="btn btn-info" (click)="goBack()">Cancel</a>
    </div>

  </div>
</form>

  </div>
</div>

</div>


<!-- ////////////////////////////////////////////////////////// -->

<!--
 <div class="container-fluid">

   <form (ngSubmit)="onSubmit()" ><br><br>

 <div class="form-group">
   <label for="emp_name" class="col-sm-2 control-label">Employee's Full Name : </label>
   <div class="col-sm-9">
     <input type="text" name ="username" class="form-control" required  [(ngModel)]="model.username">

</div>
 </div>
 <div class="form-group">
   <label for="emp_email" class="col-sm-2 control-label">Email : </label>
   <div class="col-sm-9">
     <input type="email" name ="email" class="form-control" required  [(ngModel)]="model.email">

   </div>
 </div>
 <div class="form-group">
   <label for="position" class="col-sm-2 control-label">Job Title : </label>
   <div class="col-sm-9">
     <input type="text" name ="title" class="form-control"  required  [(ngModel)]="model.title">

    </div>
 </div>
 <div class="form-group">
   <label for="department" class="col-sm-2 control-label">Department Name : </label>
   <div class="col-sm-9">
     <input type="text" name ="department" class="form-control" required  [(ngModel)]="model.department">

</div>
 </div>
 <div class="form-group">
   <label for="salary" class="col-sm-2 control-label">Employee's Salary : </label>
   <div class="col-sm-9">
     <input type="text" name ="salary" class="form-control" required  [(ngModel)]="model.salary">

   </div>
 </div>
 <br><br>


 <div class="form-group">
   <div class="col-sm-offset-2 col-sm-8">
     <button type="submit" class="btn btn-success">Update</button>
     <a  class="btn btn-info" (click)="goBack()">Cancel</a>
   </div>

 </div>
 </form>




</div> -->
